@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow';
@import 'https://fonts.googleapis.com/css?family=Lato';
*, H1, H2, H3, H4 {
  font-family: Lato; }

H1, H2, H3, H4 {
  color: #93a434; }

BODY {
  margin: 0;
  padding: 0; }

A {
  color: #6b7c0c; }
  A.category {
    color: #d99938; }

A:hover {
  color: #93a434; }

.current-menu-item > A {
  color: #d99938; }

UL {
  margin: 0 0 1em 2em; }

.astucefav {
  display: none; }

.post-navigation {
  display: none; }

.header-image {
  display: none; }

.site {
  padding: 0;
  margin-top: 109px;
  background: url(images/noisy.png) #93a434; }

.site-header-container {
  max-width: 1260px;
  margin: 0 auto;
  height: 100%; }
  @media screen and (min-width: 780px) {
    .site-header-container {
      width: 1120px; } }

.site-header {
  position: fixed;
  z-index: 10;
  text-align: left;
  background-color: #ffffff;
  height: 108px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid #93a434; }
  @media screen and (max-width: 779px) {
    .site-header {
      height: 54px; } }
  .site-header.fixe {
    height: 54px;
    background-color: #ebeae5;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out; }
    .site-header.fixe .site-logo {
      height: 48px;
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      background-color: transparent;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none; }
      @media screen and (min-width: 780px) {
        .site-header.fixe .site-logo IMG.normal {
          display: none; }
        .site-header.fixe .site-logo IMG.medium {
          display: inline-block; } }
    .site-header.fixe .site-description {
      visibility: hidden; }
    .site-header.fixe .main-navigation {
      left: 80px;
      top: -92px; }
    .site-header.fixe .menu-menu-principal-container {
      margin-top: 0; }
    .site-header.fixe .main-navigation UL.menu {
      border-top: 1px dashed transparent; }
    .site-header.fixe .search-form {
      right: 80px;
      top: 3px; }

.site-content:before {
  display: none; }

.site-content .content-area {
  background-color: #ffffff;
  padding-bottom: 0.1em; }
  @media screen and (min-width: 980px) {
    .site-content .content-area {
      width: 1092px;
      padding-top: 2.2em;
      margin-bottom: 0; } }
  @media screen and (max-width: 779px) {
    .site-content .content-area {
      margin-bottom: 0; } }

BODY.admin-bar .site-header {
  top: 32px; }
  @media screen and (max-width: 779px) {
    BODY.admin-bar .site-header {
      top: 46px; } }

.site-branding {
  padding: 0;
  margin: 0; }

.site-logo {
  text-align: right;
  width: 250px; }
  @media screen and (max-width: 779px) {
    .site-logo {
      position: relative;
      z-index: 50;
      height: 48px;
      text-align: left;
      margin-left: 5px;
      background-color: transparent; }
      .site-logo IMG.normal {
        display: none; }
      .site-logo IMG.medium {
        display: inline-block; } }
  @media screen and (min-width: 780px) {
    .site-logo {
      height: 140px;
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      background-color: white;
      -webkit-box-shadow: 0px 7px 29px -9px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 0px 7px 29px -9px rgba(0, 0, 0, 0.32);
      box-shadow: 0px 7px 29px -9px rgba(0, 0, 0, 0.32); }
      .site-logo IMG.normal {
        display: inline-block; }
      .site-logo IMG.medium {
        display: none; } }

@media screen and (max-width: 779px) {
  .site-logo IMG {
    height: auto;
    zoom: 100%; } }

@media screen and (min-width: 780px) {
  .site-logo IMG {
    height: 100%; } }

.site-title {
  position: absolute;
  left: -1000px; }

.site-description {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  color: #91876d;
  text-transform: uppercase; }
  @media screen and (max-width: 779px) {
    .site-description {
      display: none; } }
  @media screen and (min-width: 780px) {
    .site-description {
      display: block;
      position: relative;
      left: 270px;
      top: -143px; } }

.main-navigation {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative; }
  @media screen and (max-width: 779px) {
    .main-navigation {
      width: 100%;
      top: -50px;
      left: -14px; } }
  @media screen and (min-width: 780px) {
    .main-navigation {
      top: -180px;
      left: 80px;
      width: 66%; } }

.main-navigation .current_page_ancestor > a {
  color: #a22e3b; }

.menu-menu-principal-container {
  text-align: left;
  margin-top: 50px;
  background-color: transparent; }
  @media screen and (max-width: 779px) {
    .menu-menu-principal-container {
      margin-top: 45px;
      background-color: #ffffff; } }

@media screen and (min-width: 780px) {
  .menu-raccourcis-container {
    display: none; } }

@media screen and (max-width: 779px) {
  .menu-raccourcis-container {
    background-color: #93a434; } }

.main-navigation .menu-text {
  display: none; }

@media screen and (max-width: 779px) {
  .main-navigation .sub-menu {
    display: none !important;
    background-color: #ffffff; }
    .main-navigation .sub-menu.shown {
      display: block !important;
      background-color: #ebeae5;
      transition: all 1.5s ease-out;
      -webkit-transition: all 1.5s ease-out;
      -ms-transition: all 1.5s ease-out; }
      .main-navigation .sub-menu.shown A {
        border-top-color: white; } }

.main-navigation .sub-menu LI A:hover {
  background-color: #93a434;
  color: #e1e1e1; }

.main-navigation .search-field {
  background-size: 20px 20px; }

@media screen and (max-width: 779px) {
  .main-navigation .menu-toggle {
    color: transparent;
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 7px; }
    .main-navigation .menu-toggle:before {
      content: '\f419';
      color: #93a434;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      font: normal 22px/1 Genericons;
      margin-right: 10px;
      vertical-align: middle;
      position: absolute;
      right: 10px; } }

@media screen and (max-width: 779px) {
  .main-navigation .search-form {
    display: none; } }

@media screen and (min-width: 780px) {
  .main-navigation .search-form {
    background-color: transparent;
    top: -3px; } }

@media screen and (min-width: 780px) {
  .main-navigation UL.menu {
    padding-left: 0;
    border-top: 1px dashed #939393;
    text-align: left; }
    .main-navigation UL.menu LI.menu-item-has-children A:after {
      display: none;
      content: ''; } }

.main-navigation UL.menu > LI {
  background-color: transparent; }

.main-navigation LI A {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px; }
  @media screen and (max-width: 779px) {
    .main-navigation LI A {
      line-height: 48px; } }
  .main-navigation LI A:hover {
    text-decoration: none; }

@media screen and (min-width: 780px) {
  .main-navigation UL.menu > LI:first-child > A {
    padding-left: 0; } }

@media screen and (min-width: 780px) {
  .main-navigation UL.menu > LI:not(:last-child):after {
    content: "•";
    color: #93a434;
    position: absolute;
    top: -1px;
    right: -3px;
    font-size: 14px; } }

.main-navigation UL UL {
  background-color: #ffffff; }
  .main-navigation UL UL LI A {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (max-width: 779px) {
      .main-navigation UL UL LI A {
        padding-top: 0;
        padding-bottom: 0; } }

.main-navigation.toggled:after {
  content: ' ';
  width: 100%;
  height: 500px;
  background-color: #1f180d;
  display: block;
  opacity: 0.8; }

.main-navigation.toggled .menu-toggle:before {
  content: '\f406'; }

.main-navigation.toggled LI:after {
  content: ''; }

.main-navigation.toggled .search-form {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff; }
  .main-navigation.toggled .search-form .search-field {
    margin-left: 20px; }

.main-navigation.toggled .astucefav {
  display: block;
  position: absolute;
  color: white;
  z-index: 2;
  padding: 20px;
  line-height: 1.6em;
  background-color: #91876d; }
  .main-navigation.toggled .astucefav:before {
    content: ' ';
    background: url("/wp-content/uploads/2016/11/favicon1.png") no-repeat;
    background-size: 70%;
    width: 50px;
    height: 50px;
    display: table;
    float: left;
    padding-right: 10px; }

@media screen and (max-width: 779px) {
  .main-navigation A {
    padding-left: 20px; }
  .main-navigation UL UL A {
    padding-left: 40px; } }

.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a {
  background-color: #a59a83; }

.menu-raccourcis-container LI.fb, .menu-raccourcis-container LI.vimeo {
  display: inline-block;
  width: 48%;
  height: 100px;
  padding-top: 50px;
  text-align: center; }
  .menu-raccourcis-container LI.fb A, .menu-raccourcis-container LI.vimeo A {
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid transparent; }

.menu-raccourcis-container LI.fb {
  background: url(http://lvs2.free.fr/_16/icones/socmed-fb-light.png) no-repeat;
  background-position: 50% 35%; }

.menu-raccourcis-container LI.vimeo {
  background: url(http://lvs2.free.fr/_16/icones/socmed-vimeo-light.png) no-repeat;
  background-position: 50% 35%; }

.menu-raccourcis-container LI.tel {
  background-color: #d4dca7; }
  .menu-raccourcis-container LI.tel A {
    text-align: center;
    font-size: 24px;
    text-transform: none;
    color: #a22e3b;
    padding: 25px 0; }

header,
.entry-content {
  padding: 0em 0.8em 0em 0.8em; }

.entry-header {
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (min-width: 780px) {
  .entry-content {
    padding: 0 2em 0 2em; } }

.entry-content A {
  text-decoration: none; }

.entry-content LI {
  padding-bottom: 10px;
  list-style-type: none;
  position: relative; }
  .entry-content LI:before {
    content: '\2022';
    color: #93a434;
    position: absolute;
    left: -14px;
    font-size: 0.85em;
    top: 3px; }

FOOTER {
  background-color: #91876d; }
  FOOTER .site-info {
    color: #ebeae5; }
  FOOTER .site-bottom {
    margin-top: 0; }
    FOOTER .site-bottom A {
      color: #ebeae5; }
      FOOTER .site-bottom A:hover {
        color: #cdccc7; }
  FOOTER .footer-boxes {
    padding: 15px;
    max-width: 1120px;
    margin: 0 auto; }
  FOOTER .footer-box {
    color: #ebeae5;
    padding: 15px;
    text-align: center; }
    FOOTER .footer-box B, FOOTER .footer-box strong {
      font-weight: normal;
      text-transform: uppercase; }
    FOOTER .footer-box TABLE {
      border-top: 0; }
    FOOTER .footer-box TD {
      border-bottom: 1px solid #a5a49f;
      padding: 0em 0.8em 0em 0;
      text-align: left;
      vertical-align: top; }
    @media screen and (min-width: 780px) {
      FOOTER .footer-box {
        width: 33.33333%;
        display: table-cell; }
        FOOTER .footer-box:nth-child(2) {
          border-left: 1px dashed #a5a49f;
          border-right: 1px dashed #a5a49f; } }
    @media screen and (max-width: 779px) {
      FOOTER .footer-box:not(:last-child) {
        border-bottom: 1px dashed #a5a49f; } }
  @media screen and (max-width: 779px) {
    FOOTER .fb-page {
      left: 0px;
      max-width: 25%; } }

.modal {
  position: fixed;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  max-height: 630px;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal .entry-content {
    padding: 0em 1.8em 0em 1.8em;
    overflow-y: auto; }
  .modal .content-area {
    width: 100%; }
  .modal.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear; }
  .modal.fade.in {
    opacity: 1;
    display: block; }
  .modal button.fermer {
    margin-left: -50px;
    position: relative;
    bottom: 1.2em;
    left: 50%;
    padding: 6px 12px;
    border-radius: 0;
    background-color: #d99938;
    font-size: 14px; }

.modal-body {
  margin-bottom: 10px;
  max-height: 406px; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    display: none; }
  .modal-backdrop.fade.in {
    display: block;
    filter: alpha(opacity=80);
    opacity: .8;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear; }

.modal-dialog {
  position: relative;
  top: 190px;
  margin: 0 auto; }
  @media (max-width: 779px) {
    .modal-dialog {
      width: 96%;
      margin-right: 14px; } }
  @media (min-width: 780px) {
    .modal-dialog {
      width: 760px; } }

.modal-header {
  height: 40px; }
  .modal-header .close {
    background-color: transparent;
    color: #93a434;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    right: 0;
    padding: 10px 20px; }

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); } }

.modal-content {
  max-height: 585px;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.wp-caption-text {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #91876d; }

.wp-description-text {
  font-weight: normal;
  font-size: 0.85em; }

dl.attachments-small {
  border: 0; }

.attachments {
  margin: 0;
  width: auto; }
  .attachments dd.caption {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    color: #93a434;
    background-color: transparent; }
    .attachments dd.caption A {
      text-decoration: none; }

@media screen and (max-width: 779px) {
  .pdflist {
    width: 100%; } }

@media screen and (min-width: 780px) {
  .pdflist {
    width: 45%;
    float: left; } }

.pdflist LI:before {
  content: ' ';
  color: transparent;
  background: url(images/icone-pdf.gif) no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  left: -29px;
  top: 1px; }

.pdflist ~ P {
  margin-bottom: 0; }

.pdflist H3 {
  margin-top: 0; }

H1.page-title {
  font-size: 2.5rem;
  margin-top: 0.67em; }
  H1.page-title SPAN {
    color: #d99938;
    font-style: italic; }

.entry-title A {
  color: inherit;
  position: relative;
  padding-left: 6px; }
  .entry-title A:hover {
    color: #a22e3b; }
  .entry-title A:before {
    content: '\29C1';
    color: #d99938;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 0.93rem Genericons;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
    position: absolute;
    left: -16px;
    top: 0.56em; }

.post-grid-list .hentry {
  margin-bottom: 5px;
  padding: 0em 0.8em 0em 0.8em; }

@media screen and (max-width: 779px) {
  .page-header {
    margin-bottom: 10px; } }

BODY.home .entry-header {
  display: none; }

BODY.home .modal .entry-header {
  display: block;
  margin-top: 0; }

BODY.home .entry-content {
  padding: 0;
  position: relative; }

BODY.home .modal .entry-content {
  padding: 0em 1.8em 0em 1.8em;
  max-height: 370px; }

BODY.home .site {
  margin-top: 71px; }
  @media screen and (max-width: 779px) {
    BODY.home .site {
      margin-top: 68px; } }

BODY.home .hentry {
  margin-bottom: 0px; }

BODY .rslides_tabs {
  position: absolute;
  top: 85%;
  z-index: 4;
  left: 50%;
  text-align: center;
  margin: 0; }
  BODY .rslides_tabs LI:before {
    content: ''; }

BODY .rslides_container {
  margin-bottom: -23px; }
  @media screen and (max-width: 779px) {
    BODY .rslides_container {
      top: -13px; } }

BODY .rslides_nav {
  top: 62%; }

@media screen and (max-width: 779px) {
  BODY .rslides_tabs {
    display: none; } }

BODY .rslides_tabs a {
  background-color: #660000; }

BODY .rslides_here a {
  background-color: #c04c59; }

BODY .infosagenda {
  background: url(images/bg-points.png) #ebeae5;
  padding: 1.3em 1em;
  clear: both;
  display: table; }
  @media screen and (max-width: 779px) {
    BODY .infosagenda {
      padding: 0; } }
  @media screen and (min-width: 780px) {
    BODY .infosagenda .infos {
      width: 60%;
      float: left; } }
  BODY .infosagenda .infos H2 {
    padding: 0.7em 0.7em 0 0.7em;
    color: #a22e3b;
    margin-top: 0; }
    @media screen and (max-width: 779px) {
      BODY .infosagenda .infos H2 {
        padding-top: .8em; } }
  BODY .infosagenda .infos .pt-cv-wrapper {
    padding: 1em; }
  @media screen and (max-width: 779px) {
    BODY .infosagenda .agenda {
      width: 100%; } }
  @media screen and (min-width: 780px) {
    BODY .infosagenda .agenda {
      width: 38%;
      display: inline-block;
      padding-left: 1em; } }
  BODY .infosagenda .agenda H2 {
    padding: 0.7em 0.7em 0 0.7em;
    margin-top: 0;
    color: #a22e3b; }
    @media screen and (max-width: 779px) {
      BODY .infosagenda .agenda H2 {
        margin-bottom: 0px;
        padding-bottom: 20px;
        padding-top: 20px; } }
  BODY .infosagenda .agenda > DIV {
    background-color: #e2d6bd; }
    @media screen and (min-width: 780px) {
      BODY .infosagenda .agenda > DIV {
        max-height: 1040px;
        overflow-y: visible;
        overflow-x: hidden; } }

.infos .infosbloc {
  background-color: #d8deb5;
  padding-bottom: 30px; }
  @media screen and (min-width: 780px) {
    .infos .infosbloc {
      max-height: 1011px;
      overflow-y: visible;
      overflow-x: hidden; } }
  .infos .infosbloc .centre {
    display: block;
    text-align: center; }

@media screen and (min-width: 780px) {
  .infos .pt-cv-wrapper {
    columns: 2;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    padding-bottom: 0;
    min-height: 974px; }
    .infos .pt-cv-wrapper .pt-cv-colsys {
      margin-left: -10px;
      margin-right: 10px; } }

#vsel {
  padding: 1em;
  width: auto;
  clear: none;
  float: none; }
  @media screen and (max-width: 779px) {
    #vsel {
      width: 94%;
      display: table; } }

#vsel {
  margin: 0 auto; }
  #vsel .vsel-content {
    border-bottom: 1px dashed #91876d; }
  #vsel .vsel-meta-title A {
    text-transform: uppercase;
    color: #93a434;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold; }
  @media screen and (max-width: 779px) {
    #vsel .vsel-meta {
      width: 36%;
      font-size: .8em;
      padding-top: 0.2em; } }
  #vsel .vsel-meta IMG {
    border: 1px solid #ebeae5; }
    @media screen and (max-width: 779px) {
      #vsel .vsel-meta IMG {
        display: none; } }
  #vsel .vsel-meta-date > DIV {
    background-color: #91876d;
    color: #ebeae5;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    width: 62%; }
    #vsel .vsel-meta-date > DIV > DIV {
      font-size: 2.8em; }
  #vsel .vsel-image {
    float: none;
    width: 50%; }
  #vsel.upcom .vsel-meta-date > DIV {
    background-color: #81b1ed; }
  @media screen and (max-width: 779px) {
    #vsel .vsel-image-info {
      width: 60%; } }
  #vsel .vsel-image-info IMG {
    border: 1px solid #ebeae5; }

.pt-cv-wrapper .btn-success {
  border-radius: 0;
  border: 0;
  background-color: #d99938; }
  .pt-cv-wrapper .btn-success:active {
    background-color: #f7b756; }
  .pt-cv-wrapper .btn-success:hover {
    background-color: #f7b756; }
  .pt-cv-wrapper .btn-success:visited {
    background-color: #bb7b1a; }

.pt-cv-wrapper A {
  text-transform: uppercase;
  color: #93a434; }

.pt-cv-wrapper .pt-cv-title {
  font-size: 17px; }

.pt-cv-wrapper .pt-cv-content-item {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px dashed #91876d; }
  @media screen and (min-width: 780px) {
    .pt-cv-wrapper .pt-cv-content-item {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid; } }
  @media screen and (max-width: 779px) {
    .pt-cv-wrapper .pt-cv-content-item {
      width: 93%; } }

.lacommune {
  position: relative; }
  @media screen and (max-width: 779px) {
    .lacommune {
      background-color: #93a434; } }
  @media screen and (min-width: 780px) {
    .lacommune {
      background: url(images/bg-logo-teinte.jpg) no-repeat #93a434;
      background-size: 100%;
      min-height: 400px; } }
  .lacommune H2 {
    text-align: center;
    color: #ebeae5;
    padding-top: 22px;
    margin-top: 0; }
  .lacommune .pt-cv-content-item {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
    @media screen and (max-width: 779px) {
      .lacommune .pt-cv-content-item {
        width: 100%; } }
    @media screen and (min-width: 780px) {
      .lacommune .pt-cv-content-item {
        width: 33%; }
        .lacommune .pt-cv-content-item:last-child {
          position: absolute;
          top: 223px;
          left: 370px; } }
    .lacommune .pt-cv-content-item .pt-cv-title {
      position: relative;
      top: -14px;
      z-index: 8; }
    .lacommune .pt-cv-content-item .pt-cv-content {
      padding: 44px 10px 20px 10px;
      position: relative;
      top: -62px;
      width: 70%;
      margin: 0 auto;
      background-color: #ffffff;
      border: 1px solid #c3b99f; }
  .lacommune .pt-cv-ifield > A {
    display: block;
    min-height: 20px; }

@media screen and (min-width: 780px) {
  .planPages {
    width: 60%;
    float: left; } }

@media screen and (min-width: 780px) {
  .planPosts {
    width: 35%;
    float: left; } }

.tag-catg {
  background-color: #81b1ed;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px; }

@media screen and (min-width: 1180px) {
  .no-sidebar .alignright {
    margin-right: 0; } }

@media screen and (min-width: 780px) {
  DIV.multicolonnes {
    -webkit-column-count: 2;
    -moz-column-count: 2;
      -moz-column-count-columns-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }
    DIV.multicolonnes H2:first-child {
      margin-top: 0; } }

.partenaires {
  background-color: #ebeae5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -5px; }
  .partenaires H2 {
    text-align: center;
    color: #91876d;
    padding-top: 22px;
    margin-top: 0; }
  .partenaires figure {
    margin-bottom: 20px; }
    .partenaires figure .wp-caption-text {
      display: none; }
    .partenaires figure .gallery-icon IMG {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .7;
      cursor: pointer;
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out; }
      .partenaires figure .gallery-icon IMG:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out; }
    @media screen and (max-width: 779px) {
      .partenaires figure.gallery-item {
        max-width: 50%; } }

.filtre SPAN {
  cursor: pointer;
  background-color: #ca8800;
  border: 1px dotted #ca8800;
  padding: 5px;
  color: white; }
  .filtre SPAN:after {
    content: 'x';
    position: relative;
    color: white;
    opacity: 0.72;
    top: -10px;
    left: 5px;
    font-size: 12px;
    margin-right: 4px; }
  .filtre SPAN.fCache {
    background-color: transparent;
    color: #996600; }

@media screen and (min-width: 1180px) {
  .no-sidebar .alignleft {
    margin-left: 0px; } }

@media screen and (max-width: 779px) {
  .ephemeride {
    position: relative;
    top: -13px;
    display: block; } }

@media screen and (min-width: 780px) {
  .ephemeride {
    position: absolute;
    display: inline-block; } }

@media screen and (min-width: 7px) {
  .ephemeride {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    right: 0;
    color: #ebeae5;
    background-color: #91876d;
    opacity: .8;
    padding: 10px 20px;
    font-size: 13px;
    z-index: 9; }
    .ephemeride:before {
      content: '📅';
      padding-right: 8px;
      color: #b1c252; }
    .ephemeride #jhf > SPAN:after {
      content: '|';
      padding-right: 5px;
      padding-left: 5px;
      color: #b1c252; }
    .ephemeride #jhf > SPAN:before {
      content: '|';
      padding-right: 5px;
      padding-left: 5px;
      color: #b1c252; }
    .ephemeride #mto {
      font-size: 12px;
      margin-left: 7px; }
      .ephemeride #mto:before {
        content: '|';
        margin-right: 3px;
        color: #b1c252; } }
    @media screen and (min-width: 7px) and (max-width: 779px) {
      .ephemeride #mto {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 7px; }
        .ephemeride #mto:before {
          content: ''; } }

@media screen and (min-width: 7px) {
      .ephemeride #mto .mto {
        display: inline-block;
        margin-left: 5px; }
      .ephemeride #mto IMG {
        max-width: 28px;
        position: relative;
        bottom: 3px; }
      .ephemeride #mto .tmin {
        color: white;
        margin-right: 5px;
        margin-left: 5px;
        position: relative;
        top: -4px; }
      .ephemeride #mto .tmax {
        color: #a22e3b;
        position: relative;
        top: -4px; }
      .ephemeride #mto .jour {
        position: absolute;
        top: 23px;
        left: 5px;
        font-size: 9px;
        text-transform: uppercase;
        opacity: .7; }
      .ephemeride #mto .mto-fcst {
        display: inline-block;
        position: relative; }
        .ephemeride #mto .mto-fcst:not(last-child) {
          margin-right: 5px; } }

/*# sourceMappingURL=cd53.css.map */