@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Overlock';
*, H1, H2, H3, H4 {
  font-family: overlock; }

H1, H2 {
  color: #a90008; }

H2.trfs SPAN {
  background-color: #fdac53;
  color: white;
  padding: 0.02em 0.3em; }

H3.trfs {
  position: relative;
  padding: 0.3em 1.4em; }
  H3.trfs:before {
    content: '\25A0';
    color: #fdac53;
    position: absolute;
    padding-right: 4px;
    font-size: 16px;
    top: 10px;
    left: 8px; }

H3, H4 {
  color: #8d7963; }

.page .panel-content .entry-title {
  color: #a90008;
  font-size: 20px; }

BODY.dsclm {
  overflow: hidden; }

#dsclm {
  position: fixed;
  width: 100%;
  height: auto;
  background: url(fond-papier.gif);
  z-index: 999;
  display: inline-block;
  padding: 20px; }
  #dsclm > DIV {
    border: 1px dotted #a90008;
    padding: 10px; }
  @media screen and (min-width: 48em) {
    #dsclm {
      width: 500px;
      height: auto;
      top: 100px;
      left: 50%;
      margin-left: -250px;
      box-shadow: 0px 0px 7px black; } }
  #dsclm P {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center; }
    @media screen and (min-width: 48em) {
      #dsclm P {
        font-size: 22px;
        margin-bottom: 25px; } }
    #dsclm P:first-child {
      color: #a90008;
      margin-top: 10px;
      font-size: 20px; }
      @media screen and (min-width: 48em) {
        #dsclm P:first-child {
          margin-top: 40px;
          font-size: 23px; } }
    #dsclm P:last-child {
      font-size: 16px; }
  #dsclm BUTTON.btn-oui,
  #dsclm BUTTON.btn-non {
    border: 1px solid #a90008;
    background-color: transparent;
    color: #a90008;
    padding: 20px 30px; }
    #dsclm BUTTON.btn-oui:hover,
    #dsclm BUTTON.btn-non:hover {
      border: 1px solid #fdac53; }
  #dsclm BUTTON:first-child {
    margin-right: 40px; }
  #dsclm BUTTON:hover {
    border: 2px solid #a90008; }

#odsclm {
  background-color: rgba(0, 0, 0, 0.8);
  content: '';
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 998; }

.navigation-top {
  background-color: #f6ece2;
  border-bottom: 1px solid #a90008; }
  @media screen and (min-width: 48em) {
    .navigation-top .wrap {
      text-align: center;
      max-width: 960px;
      /* 1000px; - Voir styles.css */ }
      .navigation-top .wrap .main-navigation {
        display: inline-block; } }
  .navigation-top A {
    color: #a90008; }
  @media screen and (min-width: 48em) {
    .navigation-top {
      font-size: 15px; } }

.main-navigation {
  box-shadow: none; }

.main-navigation a:hover {
  color: #8d7963; }

.main-navigation li li:hover > a,
.main-navigation li li a:hover {
  color: #a90008;
  background-color: #f3f1ef; }

.main-navigation LI LI {
  border-bottom: 1px dotted #ffca71; }

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a,
.navigation-top .current-menu-item > a:hover,
.navigation-top .current_page_item > a:hover {
  color: #a90008 !important;
  background-color: #dfdddb; }

.logo-in-nav {
  position: fixed;
  top: -100px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  left: 50%;
  margin-left: -432px;
  width: 150px;
  z-index: 9; }
  .logo-in-nav.fixed {
    top: 18px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out; }

.admin-bar .logo-in-nav.fixed {
  top: 50px; }

.action-navigation {
  display: none; }

.menu-scroll-down {
  display: none !important; }

.social-navigation {
  display: none;
  margin-bottom: 0; }

@media screen and (max-width: 47.9em) {
  .navigation-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; }
    .navigation-top A {
      font-weight: normal; }
  .admin-bar .navigation-top {
    position: absolute;
    top: 0; }
  .menu-toggle {
    margin: 1px 0 2px 0;
    padding-right: 20px;
    width: 100%;
    text-align: right; }
    .menu-toggle .icon {
      width: 1.6em;
      height: 1.6em;
      color: #8d7963; }
    .menu-toggle:focus {
      outline: none;
      background-color: transparent; }
  .logo-in-nav {
    top: 5px;
    left: 50%;
    margin-left: -70px;
    z-index: 12;
    width: 140px; }
  .admin-bar .logo-in-nav {
    position: absolute; }
  .menu-menu-principal-container {
    width: 100%; }
  .js .main-navigation {
    box-shadow: none; }
    .js .main-navigation UL {
      background-color: #d7d0c9; }
    .js .main-navigation > DIV > UL {
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out; }
    .js .main-navigation LI {
      border-bottom: 1px solid #fdac53; }
      .js .main-navigation LI A {
        padding-left: 5px; }
      .js .main-navigation LI LI:last-child {
        border-bottom: 0; }
    .js .main-navigation .action-navigation {
      display: none; }
      .js .main-navigation .action-navigation A {
        color: #8d7963; }
        .js .main-navigation .action-navigation A:before {
          content: '>';
          color: #fdac53;
          font-size: 20px;
          line-height: 20px;
          padding-right: 2px; }
    .js .main-navigation.toggled-on {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.46); }
      .js .main-navigation.toggled-on > DIV > UL {
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out; }
      .js .main-navigation.toggled-on .action-navigation {
        display: block; }
        .js .main-navigation.toggled-on .action-navigation UL.menu-action {
          display: block; }
          .js .main-navigation.toggled-on .action-navigation UL.menu-action LI:last-child {
            border-bottom: 0;
            padding-bottom: 10px; }
      .js .main-navigation.toggled-on .social-navigation {
        display: block !important;
        margin-top: 0;
        margin-bottom: 0; }
        .js .main-navigation.toggled-on .social-navigation UL {
          display: block; }
          .js .main-navigation.toggled-on .social-navigation UL A {
            background-color: transparent; }
            .js .main-navigation.toggled-on .social-navigation UL A:hover {
              background-color: transparent; }
            .js .main-navigation.toggled-on .social-navigation UL A .icon {
              display: inline-block;
              color: white;
              width: 34px;
              height: 24px;
              top: 3px; }
        .js .main-navigation.toggled-on .social-navigation .social-links-menu {
          background-color: #a90008;
          text-align: center; }
          .js .main-navigation.toggled-on .social-navigation .social-links-menu LI {
            border-bottom: 0; }
  .dropdown-toggle {
    color: #8d7963; }
    .dropdown-toggle:focus {
      outline: 0; }
    .dropdown-toggle .icon {
      width: 1.4em;
      height: 1.3em; } }

.wpcf7-form {
  position: relative; }
  .wpcf7-form .wpcf7-response-output {
    position: absolute;
    left: 0px;
    bottom: 60px;
    margin-top: -58px;
    background-color: #fdac53;
    border: 0 !important; }
    .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
      background-color: #b5bf4f; }
  .wpcf7-form TEXTAREA {
    font-size: 14px; }
  .wpcf7-form input[type="submit"] {
    background-color: #a90008; }
    .wpcf7-form input[type="submit"]:hover {
      background-color: #950000; }

@media screen and (min-width: 48em) {
  .social-navigation {
    clear: none;
    float: none;
    margin-bottom: 0;
    width: auto;
    z-index: 100;
    position: fixed;
    top: 12px;
    right: 20px;
    display: none; }
    .social-navigation.socon {
      display: block; }
    .social-navigation A {
      background-color: white;
      box-shadow: 0px 0px 3px #888888; }
      .social-navigation A .icon {
        color: #8d7963;
        width: 22px; }
      .social-navigation A:focus, .social-navigation A:active, .social-navigation A:visited {
        background-color: white; }
      .social-navigation A:hover {
        background-color: #a90008; }
        .social-navigation A:hover .icon {
          color: white; }
  .admin-bar .social-navigation {
    top: 44px; }
  .icon.icon-flag-en {
    height: 16px;
    top: 12px;
    width: 22px;
    vertical-align: top; } }

#post-11 {
  display: none; }

.site-branding .wrap {
  text-align: center; }

.site-branding .site-branding-text {
  text-shadow: 0px 0px 8px #000000;
  padding-top: 20px; }

.site-branding .site-description {
  font-size: 22px; }

.site-branding .custom-logo-link {
  display: none; }

.site-branding .logo-mono {
  position: relative;
  opacity: .4; }

.page.page-one-column .entry-header,
.twentyseventeen-front-page.page-one-column .entry-header {
  margin-bottom: 2em; }

H4.pt-cv-title A {
  color: #a90008;
  font-weight: normal;
  font-size: 20px; }
  H4.pt-cv-title A:hover {
    box-shadow: inset 0 0 0 transparent, 0 2px 0 #8d7963; }

.pt-cv-wrapper .btn-success,
.pt-cv-wrapper .btn-success.active,
.pt-cv-wrapper .btn-success:active,
.pt-cv-wrapper .btn-success:hover,
.pt-cv-wrapper .btn-success:focus,
.pt-cv-wrapper .btn-success.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success.active,
.postl,
.postl:active,
.postl:focus {
  background-color: transparent;
  border: 0;
  color: #8d7963;
  border-radius: 0;
  padding: 3px 6px; }
  .pt-cv-wrapper .btn-success .icon,
  .pt-cv-wrapper .btn-success.active .icon,
  .pt-cv-wrapper .btn-success:active .icon,
  .pt-cv-wrapper .btn-success:hover .icon,
  .pt-cv-wrapper .btn-success:focus .icon,
  .pt-cv-wrapper .btn-success.focus .icon,
  .pt-cv-wrapper .open > .dropdown-toggle.btn-success .icon,
  .pt-cv-wrapper .open > .dropdown-toggle.btn-success:focus .icon,
  .pt-cv-wrapper .open > .dropdown-toggle.btn-success:hover .icon,
  .pt-cv-wrapper .open > .dropdown-toggle.btn-success:active .icon,
  .pt-cv-wrapper .open > .dropdown-toggle.btn-success.active .icon,
  .postl .icon,
  .postl:active .icon,
  .postl:focus .icon {
    top: -0.3em;
    left: -0.2em; }

.postl {
  box-shadow: none !important;
  color: #8d7963;
  font-size: 14px; }
  .postl:hover {
    color: #8d7963 !important;
    box-shadow: inset 0 0 0 transparent, 0 2px 0 #8d7963 !important; }

.pt-cv-wrapper .btn-success:hover {
  color: #8d7963;
  box-shadow: inset 0 0 0 transparent, 0 2px 0 #8d7963; }

.pt-cv-view .pt-cv-meta-fields a {
  color: #a90008; }

.pt-cv-view .pt-cv-ifield H4,
.pt-cv-view .pt-cv-ifield .pt-cv-content {
  padding: 5px; }

.pt-cv-view .pt-cv-ifield H4 {
  padding-top: 0px;
  margin-bottom: 0; }

.pt-cv-pagination-wrapper {
  text-align: center; }
  .pt-cv-pagination-wrapper .pagination > LI > A {
    color: #8d7963; }
    .pt-cv-pagination-wrapper .pagination > LI > A:hover,
    .pt-cv-pagination-wrapper .pagination > LI > A:focus {
      color: #8d7963;
      box-shadow: none;
      -webkit-box-shadow: none; }
  .pt-cv-pagination-wrapper .pagination > .active > A {
    background-color: #8d7963; }
    .pt-cv-pagination-wrapper .pagination > .active > A:hover,
    .pt-cv-pagination-wrapper .pagination > .active > A:focus {
      background-color: #8d7963;
      color: #8d7963;
      box-shadow: none;
      -webkit-box-shadow: none; }
  .pt-cv-pagination-wrapper .pagination a:not(.prev):not(.next):hover {
    color: #b5a18b;
    background-color: #8d7963;
    box-shadow: none;
    -webkit-box-shadow: none; }

#panel2 .pt-cv-view .pt-cv-ifield {
  min-height: 380px;
  background-color: white;
  box-shadow: 0px 0px 7px #c6bcb1;
  -webkit-box-shadow: 0px 0px 7px #c6bcb1; }
  #panel2 .pt-cv-view .pt-cv-ifield H4 {
    padding: 20px 20px 5px 20px; }
  #panel2 .pt-cv-view .pt-cv-ifield .pt-cv-content {
    padding: 5px 20px 5px 20px; }

#panel2 .entry-content a img {
  padding: 5px;
  border-bottom: 4px solid #a90008 !important; }

.entry-content a:hover {
  text-decoration: none;
  box-shadow: none; }

.entry-content a img {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%; }

.entry-content UL {
  list-style: none; }
  .entry-content UL LI:before {
    content: '\2022';
    font-size: 20px;
    color: #fdac53;
    font-weight: bold;
    margin-right: 5px; }
  .entry-content UL LI LI:before {
    color: #d23d77; }

.entry-footer .edit-link a.post-edit-link {
  color: black;
  background-color: transparent; }
  .entry-footer .edit-link a.post-edit-link:hover {
    background-color: transparent;
    text-decoration: underline; }

.pt-cv-content-item {
  padding-top: 5px; }

.link-more {
  display: none; }

#panel1 {
  background-color: #f3f1ef; }

#panel2 {
  background: url(fond-papier.gif); }

#panel3 {
  background-color: #feead4; }

.pt-cv-ifield A img {
  border-bottom: 4px solid #fdac53;
  width: 100%; }

#panel4 .entry-content A IMG {
  width: 200px;
  border-bottom: 0px; }

.site-footer {
  background-color: #f6ece2;
  border-top: 1px dotted #8d7963; }
  .site-footer H2 {
    color: #a90008;
    font-size: 14px; }

.site-info {
  text-align: center;
  float: none;
  width: auto;
  color: #8d7963; }

@media screen and (min-width: 48em) {
  .nous-trouver {
    float: left;
    width: 36%;
    display: table-cell; } }

@media screen and (min-width: 48em) {
  .formp {
    display: table; }
    .formp .demil,
    .formp .demir {
      display: inline-block;
      width: 47%; }
    .formp .demil {
      margin-right: 5.33%; }
    .formp SELECT {
      width: 100%;
      padding: 0 10px; }
      .formp SELECT OPTION {
        padding: 10px; } }

BODY:not(.twentyseventeen-front-page) .site-content-contain {
  background-color: #f3f1ef;
  min-height: 400px; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain H1.entry-title {
    color: #a90008;
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
    letter-spacing: 0.02em;
    text-transform: none; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain H1.page-title {
    color: #8d7963;
    margin-top: 40px; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain H2.entry-title A {
    color: #a90008;
    box-shadow: none; }
    BODY:not(.twentyseventeen-front-page) .site-content-contain H2.entry-title A:hover {
      box-shadow: inset 0 -1px 0 #8d7963; }

BODY:not(.twentyseventeen-front-page) .entry-content P A, BODY:not(.twentyseventeen-front-page) .entry-content DIV A {
  box-shadow: inset 0 -1px 0 #a90008; }
  BODY:not(.twentyseventeen-front-page) .entry-content P A:hover, BODY:not(.twentyseventeen-front-page) .entry-content DIV A:hover {
    box-shadow: inset 0 -1px 0 #8d7963; }

BODY:not(.twentyseventeen-front-page) .entry-content H4 A {
  box-shadow: none; }
  BODY:not(.twentyseventeen-front-page) .entry-content H4 A:hover {
    box-shadow: inset 0 -1px 0 #8d7963; }

BODY:not(.twentyseventeen-front-page) .entry-content A.pt-cv-readmore,
BODY:not(.twentyseventeen-front-page) .entry-content .pagination LI A {
  box-shadow: none; }
  BODY:not(.twentyseventeen-front-page) .entry-content A.pt-cv-readmore:hover,
  BODY:not(.twentyseventeen-front-page) .entry-content .pagination LI A:hover {
    box-shadow: inset 0 -1px 0 #8d7963; }

BODY:not(.twentyseventeen-front-page) .entry-content .pt-cv-ifield {
  padding-bottom: 20px; }
  BODY:not(.twentyseventeen-front-page) .entry-content .pt-cv-ifield IMG.pull-left {
    width: 200px;
    border-bottom: 0; }

BODY:not(.twentyseventeen-front-page) .entry-content BUTTON {
  background-color: #fdac53;
  font-weight: normal;
  padding: 0.8em 1.6em; }

@media screen and (min-width: 48em) {
  BODY:not(.twentyseventeen-front-page) .chateau IMG {
    float: left;
    margin-right: 40px;
    margin-bottom: 50px; } }

BODY:not(.twentyseventeen-front-page) .chateau .AOC {
  background-color: #a90008;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 1px 5px; }

BODY:not(.twentyseventeen-front-page) .chateau H2 {
  clear: none;
  padding-top: 0.2em; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes {
  display: table; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes > DIV {
    margin-bottom: 14px;
    clear: left; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes DIV U {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #8d7963;
    border-bottom: 2px solid #fdac53; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes DIV > P {
    display: table-cell;
    float: left;
    min-width: 42px; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes UL {
    display: table-cell;
    padding-left: 16px;
    padding-top: 4px; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI {
    font-size: 15px;
    padding-bottom: 5px;
    line-height: 17px;
    position: relative;
    left: 14px;
    color: #8d7963; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI.x {
    color: #a90008;
    font-style: italic; }
    BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI.x:before {
      content: none; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI.or:before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -16px;
    background-color: #d2ab67; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI.argent:before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -16px;
    background-color: #a7a9ac; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI.bronze:before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -16px;
    background-color: #a86127; }
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes LI.prix:before {
    content: "ⓟ";
    position: absolute;
    padding-right: 7px;
    font-size: 16px;
    top: 0px;
    left: -18px;
    color: #d23d77; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection H3 {
  color: #a90008;
  margin-bottom: 2px; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection .h3b {
  color: #8d7963; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection > DIV {
  border-bottom: 1px solid #fdac53;
  padding-bottom: 7px; }
  @media screen and (min-width: 48em) {
    BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection > DIV {
      min-width: 700px; } }

@media screen and (min-width: 48em) {
  BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection .qte {
    display: inline-block;
    width: 50%; } }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection .rec {
  display: inline-block; }
  @media screen and (max-width: 47em) {
    BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection .rec {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 14px; } }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection LABEL {
  display: inline-block;
  width: 62px; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection INPUT {
  width: 80px;
  display: inline-block;
  padding: .4em;
  margin-bottom: 4px; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection INPUT[disabled] {
  background-color: #f3f1ef; }

BODY:not(.twentyseventeen-front-page) .chateau .millesimes.selection .rouge {
  color: #a90008; }

BODY:not(.twentyseventeen-front-page) .chateau UL, BODY:not(.twentyseventeen-front-page) .chateau LI {
  list-style-type: none; }

BODY:not(.twentyseventeen-front-page) .chateau BUTTON {
  background-color: #fdac53;
  font-weight: normal;
  padding: 0.8em 1.6em; }

BODY:not(.twentyseventeen-front-page) .chateau UL.vin-caracts {
  display: inline-block; }
  BODY:not(.twentyseventeen-front-page) .chateau UL.vin-caracts > LI {
    border-bottom: 1px solid #fdac53;
    padding: 4px 10px; }

BODY:not(.twentyseventeen-front-page) #flivraison {
  border: 1px dotted #a90008;
  border-radius: 5px;
  padding: 20px;
  background-color: #feead4; }
  BODY:not(.twentyseventeen-front-page) #flivraison UL {
    margin-left: 20px; }
  BODY:not(.twentyseventeen-front-page) #flivraison .rouge {
    color: #a90008; }
    BODY:not(.twentyseventeen-front-page) #flivraison .rouge:first-child {
      margin-bottom: 0; }

BODY:not(.twentyseventeen-front-page) SELECT#listepays {
  width: auto;
  padding: 0 10px; }
  BODY:not(.twentyseventeen-front-page) SELECT#listepays OPTION {
    padding: 10px; }

.oeno-selection > DIV {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fdac53; }
  @media screen and (min-width: 48em) {
    .oeno-selection > DIV {
      display: inline-block;
      width: 47%; }
      .oeno-selection > DIV:nth-child(odd) {
        margin-right: 30px; } }

.oeno-selection H3 {
  color: #a90008;
  margin-bottom: 2px; }

.oeno-selection .h3b {
  color: #8d7963; }

.oeno-selection input {
  width: 140px;
  display: inline-block; }

.oeno-selection input[type='number'],
.oeno-selection input[type='text'],
.oeno-selection input[type='date'] {
  padding: .4em;
  margin-bottom: 7px; }

.oeno-selection input[name='qte'] {
  width: 97px; }

.oeno-selection input[type='date'] {
  width: auto; }

.oeno-selection input[type='radio'] {
  width: 15px;
  margin-top: 10px; }

.oeno-selection label {
  display: inline-block;
  margin-right: 30px; }

A.resa BUTTON {
  background-color: #fdac53;
  font-weight: normal;
  padding: 0.8em 1.6em; }

.plan-site LI {
  list-style-type: none;
  font-size: 18px; }
  .plan-site LI A {
    color: black; }
  .plan-site LI LI {
    font-size: 16px; }
    .plan-site LI LI A {
      color: #8d7963; }

.plan-site .tag-catg {
  color: #fdac53;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 10px; }

#msel {
  background-color: transparent;
  font-size: 14px; }

.search-form .search-submit {
  background-color: #a90008; }

#gotoTop {
  width: 40px;
  height: 40px;
  display: none;
  background-color: #fdac53;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
  opacity: .86;
  cursor: pointer;
  font-size: 1.3em;
  line-height: 1.35em;
  padding-left: .31em;
  color: white; }
  #gotoTop .icon {
    transform: rotate(90deg);
    top: 1px;
    left: 3px; }

.gallery-caption {
  text-align: center;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 14px; }

@media screen and (min-width: 48em) {
  .col-12 {
    float: left;
    width: 100%;
    text-align: left; }
    .col-12 IMG {
      width: 38.5%; }
  .wp-caption {
    width: 30% !important; } }

.col-12 {
  margin-bottom: 20px; }
  .col-12 IMG {
    margin-bottom: 10px; }

.wp-caption {
  font-size: 0.95rem;
  font-style: normal; }

/*# sourceMappingURL=cd53-cc.css.map */