@import 'https://fonts.googleapis.com/css?family=Capriola|Quattrocento+Sans';
* {
  font-family: 'Quattrocento Sans'; }

H1, H2, H3, H4 {
  font-family: Capriola; }

H1, H2 {
  color: #ef562d; }

H3, H4 {
  color: #ef562d; }

.entry-meta,
.nav-subtitle {
  color: #fea126;
  font-size: .8rem; }

.nav-title {
  box-shadow: inset 0 -1px 0 #f0e5db;
  color: #ef562d; }

.post-navigation A:hover {
  box-shadow: inset 0 0 0 #ef562d, 0 2px 0 #ef562d; }
  .post-navigation A:hover .nav-title {
    color: #ef562d;
    box-shadow: inset 0 0 0 #ef562d, 0 2px 0 #ef562d; }

.entry-footer .cat-links .icon {
  color: #fea126;
  width: 1.5em;
  height: 1.5em;
  top: 0; }

.entry-footer .cat-links A {
  color: #ef562d;
  font-size: .8rem;
  box-shadow: inset 0 -1px 0 #f0e5db; }
  .entry-footer .cat-links A:hover {
    color: #ef562d;
    box-shadow: inset 0 0 0 #ef562d, 0 2px 0 #ef562d; }

@media screen and (min-width: 48em) {
  .site-main {
    min-height: 500px; } }

.page .panel-content .entry-title {
  color: #ef562d;
  font-size: 20px; }

.navigation-top {
  background-color: rgba(243, 241, 239, 0.8);
  border-bottom: 0; }
  @media screen and (min-width: 48em) {
    .navigation-top .wrap {
      text-align: center;
      max-width: 960px;
      /* 1000px; - Voir styles.css */ }
      .navigation-top .wrap .main-navigation {
        display: inline-block; } }
  @media screen and (min-width: 64em) {
    .navigation-top .wrap {
      margin-right: -15px; } }
  @media screen and (min-width: 65em) {
    .navigation-top .wrap {
      margin-right: auto; } }
  .navigation-top A {
    color: #ef562d; }

.main-navigation {
  box-shadow: none; }

.main-navigation a:hover {
  color: #8d7963; }

.main-navigation li li:hover > a,
.main-navigation li li a:hover {
  color: #ef562d;
  background-color: #f3f1ef; }

.main-navigation LI LI {
  border-bottom: 1px dotted #ffbf44; }
  .main-navigation LI LI > A:focus {
    color: #fea126; }
  .main-navigation LI LI.current_page_item a:focus,
  .main-navigation LI LI.current-menu-item a:focus,
  .main-navigation LI LI:focus a,
  .main-navigation LI LI.focus a {
    color: #fea126; }

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a,
.navigation-top .current-menu-item > a:hover,
.navigation-top .current_page_item > a:hover {
  color: #ef562d !important;
  background-color: #dfdddb; }

.logo-in-nav {
  position: fixed;
  top: -100px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  left: 40%;
  margin-left: -432px;
  width: 135px;
  z-index: 9; }
  @media screen and (min-width: 64em) {
    .logo-in-nav {
      left: 43%; } }
  @media screen and (min-width: 65em) {
    .logo-in-nav {
      left: 40%; } }
  .logo-in-nav.fixed {
    top: 7px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out; }

.admin-bar .logo-in-nav.fixed {
  top: 12px; }
  @media screen and (min-width: 48em) {
    .admin-bar .logo-in-nav.fixed {
      top: 36px; } }

.action-navigation {
  display: none; }

.menu-scroll-down {
  display: none !important; }

.social-navigation {
  display: none;
  margin-bottom: 0; }

#tels {
  display: none;
  position: absolute;
  right: 3em;
  z-index: 20;
  background-color: #fea126;
  border-radius: 7px;
  font-size: 1em;
  color: white;
  padding: 5px;
  display: inline-block;
  width: 270px; }
  @media screen and (min-width: 48em) {
    #tels {
      position: fixed;
      right: 103px;
      top: 70px !important; } }
  @media screen and (max-width: 47.8em) and (orientation: landscape) {
    #tels {
      width: 300px;
      right: 8em; } }
  @media screen and (min-width: 48em) {
    #tels:before {
      content: '\25B2';
      position: absolute;
      color: #fea126;
      left: 48%;
      top: -14px;
      width: 14px;
      height: 14px; } }
  #tels > DIV {
    padding: 14px;
    border-radius: 7px;
    border: 1px dashed white; }
  #tels .icon {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 2em !important;
    height: 2em !important; }

.admin-bar #tels {
  top: 100px; }

@media screen and (max-width: 47.9em) {
  .navigation-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10; }
    .navigation-top A {
      font-weight: normal; }
  .admin-bar .navigation-top {
    position: absolute;
    top: 0; }
  .menu-toggle {
    margin: 1px 0 2px 0;
    padding-right: 20px;
    width: 100%;
    text-align: right; }
    .menu-toggle .icon {
      width: 1.6em;
      height: 1.6em;
      color: #8d7963; }
    .menu-toggle:focus {
      outline: none;
      background-color: transparent; }
  .logo-in-nav {
    top: 5px;
    left: 50%;
    margin-left: -50px;
    z-index: 12;
    width: 100px; }
  .admin-bar .logo-in-nav {
    position: absolute; }
  .menu-menu-principal-container {
    width: 100%; }
  .js .main-navigation {
    box-shadow: none; }
    .js .main-navigation UL {
      background-color: #d7d0c9; }
    .js .main-navigation > DIV > UL {
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out; }
    .js .main-navigation LI {
      border-bottom: 1px solid #fea126; }
      .js .main-navigation LI A {
        padding-left: 5px; }
      .js .main-navigation LI LI:last-child {
        border-bottom: 0; }
    .js .main-navigation .action-navigation {
      display: none; }
      .js .main-navigation .action-navigation A {
        color: #8d7963; }
        .js .main-navigation .action-navigation A:before {
          content: '>';
          color: #fea126;
          font-size: 20px;
          line-height: 20px;
          padding-right: 2px; }
    .js .main-navigation.toggled-on {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.46); }
      .js .main-navigation.toggled-on > DIV > UL {
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out; }
      .js .main-navigation.toggled-on .action-navigation {
        display: block; }
        .js .main-navigation.toggled-on .action-navigation UL.menu-action {
          display: block; }
          .js .main-navigation.toggled-on .action-navigation UL.menu-action LI:last-child {
            border-bottom: 0;
            padding-bottom: 10px; }
      .js .main-navigation.toggled-on .social-navigation {
        display: block !important;
        margin-top: 0;
        margin-bottom: 0; }
        .js .main-navigation.toggled-on .social-navigation UL {
          display: block; }
          .js .main-navigation.toggled-on .social-navigation UL A {
            background-color: transparent;
            padding: .62em; }
            .js .main-navigation.toggled-on .social-navigation UL A:hover {
              background-color: transparent; }
            .js .main-navigation.toggled-on .social-navigation UL A .icon {
              display: inline-block;
              color: white;
              width: 34px;
              height: 24px;
              top: 3px; }
        .js .main-navigation.toggled-on .social-navigation .social-links-menu {
          background-color: #ef562d;
          text-align: center; }
          .js .main-navigation.toggled-on .social-navigation .social-links-menu LI {
            border-bottom: 0; }
  .dropdown-toggle {
    color: #8d7963; }
    .dropdown-toggle:focus {
      outline: 0; }
    .dropdown-toggle .icon {
      width: 1.4em;
      height: 1.3em; } }

.wpcf7-form {
  position: relative; }
  .wpcf7-form .wpcf7-response-output {
    position: absolute;
    left: 0px;
    bottom: 60px;
    margin-top: -58px;
    background-color: #fea126;
    border: 0 !important; }
    .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
      background-color: #88b24c; }
  .wpcf7-form TEXTAREA {
    font-size: 14px; }
  .wpcf7-form input[type="submit"] {
    background-color: #ef562d;
    opacity: 1; }
    .wpcf7-form input[type="submit"]:hover {
      background-color: #db4219; }
    .wpcf7-form input[type="submit"].btn-disabled {
      opacity: .5; }
  .wpcf7-form input[name='emailconf'].incomplet {
    border: 1px solid red !important; }

@media screen and (min-width: 48em) {
  .formrens .wpcf7-response-output {
    position: relative;
    left: 200px;
    width: 80%;
    top: 0; } }

.formrens .wpcf7-response-output.wpcf7-mail-sent-ok {
  display: none; }

.formrens LABEL.cgv INPUT[type='checkbox'] {
  transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2); }

.formrens LABEL.cgv .wpcf7-list-item-label {
  display: none; }

.formrens .dform {
  font-weight: normal;
  color: #fea126; }

.formrens .btn-print {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
  cursor: pointer;
  color: #f3f1ef;
  background-color: #fea126;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: .93em 1.3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34) !important;
  left: 50%;
  display: inline-block;
  text-transform: uppercase; }
  .formrens .btn-print:hover {
    color: #92323f; }
  .formrens .btn-print.btn-disabled {
    cursor: default;
    opacity: .5; }
    .formrens .btn-print.btn-disabled:hover {
      color: #f3f1ef; }
  @media print {
    .formrens .btn-print {
      display: none !important; } }

.formrens #select-pays-container #selectPays {
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #ef562d;
  border-right: 1px solid #ef562d;
  border-bottom: 1px solid #ef562d;
  width: 300px;
  max-height: 200px; }
  .formrens #select-pays-container #selectPays LI {
    left: 0;
    padding: 5px 20px 5px 20px;
    color: #ef562d;
    list-style-type: none;
    background-color: white; }
    .formrens #select-pays-container #selectPays LI:before {
      content: ''; }
    .formrens #select-pays-container #selectPays LI:hover {
      background-color: #c6bcb1; }

.formrens #resetForm {
  margin-left: 40px;
  background-color: #8d7963;
  font-weight: normal; }
  .formrens #resetForm:hover, .formrens #resetForm:active, .formrens #resetForm:visited {
    background-color: #c6bcb1; }

@media screen and (min-width: 48em) {
  .social-navigation {
    clear: none;
    float: none;
    margin-bottom: 0;
    width: auto;
    z-index: 100;
    position: fixed;
    top: 12px;
    right: 20px;
    display: none; }
    .social-navigation.socon {
      display: block; }
    .social-navigation A {
      background-color: white;
      box-shadow: 0px 0px 3px #888888; }
      .social-navigation A .icon {
        color: #ef562d;
        width: 22px; }
      .social-navigation A:focus, .social-navigation A:active, .social-navigation A:visited {
        background-color: white; }
      .social-navigation A:hover {
        background-color: #ef562d; }
        .social-navigation A:hover .icon {
          color: white; }
    .social-navigation UL.sub-menu {
      display: none;
      top: 50px;
      left: -70px;
      position: absolute;
      width: 200px;
      padding: 10px;
      background-color: #f0e5db;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.46);
      border-radius: 5px; }
      .social-navigation UL.sub-menu A {
        box-shadow: none;
        background: none;
        border-radius: 0;
        text-align: left;
        width: 200px; }
        .social-navigation UL.sub-menu A SPAN.screen-reader-text {
          height: 20px;
          width: 180px;
          clip: auto;
          color: #ef562d; }
  .admin-bar .social-navigation {
    top: 44px; }
  .icon.icon-flag-en {
    height: 16px;
    top: 12px;
    width: 22px;
    vertical-align: top; } }

#post-11 {
  display: none; }

.site-branding .wrap {
  text-align: center; }

.site-branding .site-branding-text {
  text-shadow: 0px 0px 8px #000000;
  padding-top: 20px; }

.site-branding .site-description {
  font-size: 22px; }

.site-branding .custom-logo-link {
  display: none; }

.site-branding .logo-mono {
  position: relative;
  opacity: .4; }

.page.page-one-column .entry-header,
.twentyseventeen-front-page.page-one-column .entry-header {
  margin-bottom: 2em; }

.panel-content .wrap,
.panel-content #primary {
  max-width: 1140px !important;
  padding-left: 0px;
  padding-right: 0px; }

.entry-content a:hover {
  text-decoration: none;
  box-shadow: none; }

.entry-content a img {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%; }

.entry-content UL {
  list-style: none; }
  .entry-content UL LI {
    position: relative;
    left: 20px; }
    .entry-content UL LI:before {
      content: '\2022';
      position: absolute;
      font-size: 36px;
      color: #ef562d;
      font-weight: bold;
      margin-right: 5px;
      top: -16px;
      left: -16px; }
    .entry-content UL LI LI:before {
      color: #d13076; }

.entry-footer .edit-link a.post-edit-link {
  color: black;
  background-color: transparent; }
  .entry-footer .edit-link a.post-edit-link:hover {
    background-color: transparent;
    text-decoration: underline; }

.site-footer {
  background-color: #5c7148;
  border-top: 1px dotted #8d7963;
  margin-top: 0; }
  .site-footer H2 {
    color: #ef562d;
    font-size: 14px; }

.site-info {
  text-align: center;
  float: none;
  width: auto;
  color: #f0e5db; }
  .site-info A {
    color: #f0e5db;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2); }
    .site-info A:hover {
      color: #f0e5db;
      box-shadow: inset 0 0 0 transparent, 0 1px 0 rgba(254, 161, 38, 0.6); }

@media screen and (min-width: 48em) {
  .nous-trouver {
    float: left;
    width: 25%;
    display: inline-block; } }

.nous-trouver IMG {
  width: 80%;
  opacity: .5;
  margin-bottom: 15px; }

@media screen and (min-width: 48em) {
  .nous-contacter {
    float: left;
    width: 48%;
    display: inline-block;
    margin-right: 40px; } }

@media screen and (min-width: 48em) {
  .nous-sur-fb {
    float: left;
    width: 23%;
    display: inline-block; } }

@media screen and (min-width: 48em), print {
  .formp,
  .formrens {
    display: table; }
    .formp .demil,
    .formp .demir,
    .formrens .demil,
    .formrens .demir {
      display: inline-block;
      width: 47%;
      vertical-align: top; }
    .formp .demil,
    .formrens .demil {
      margin-right: 5%; }
    .formp SELECT,
    .formrens SELECT {
      width: 100%;
      padding: 0 10px; }
      .formp SELECT OPTION,
      .formrens SELECT OPTION {
        padding: 10px; } }

.formp #select-pays-container,
.formrens #select-pays-container {
  position: absolute;
  z-index: 10;
  width: 300px; }

.formp #pays,
.formrens #pays {
  position: relative; }

.formp #selectPays,
.formrens #selectPays {
  height: 100%; }

.print-legal {
  display: none; }

@media print {
  .print-legal {
    display: block;
    text-align: center;
    border-top: 1px solid darkgrey;
    margin-top: 20px;
    padding-top: 20px; }
  .logo-in-nav {
    position: fixed;
    top: -20px;
    margin-left: 0;
    right: 50px;
    left: auto; }
  .content-area {
    margin-top: 10px !important; }
  P, LABEL, DIV {
    font-size: 10px; }
  H2 {
    font-size: 18px;
    color: black; }
  LABEL {
    font-weight: normal; }
  INPUT,
  TEXTAREA,
  SELECT {
    border: 1px dotted darkgrey;
    padding: 4px; }
  INPUT[type=submit] {
    display: none; }
  H2, P {
    color: black; }
  P.cgv {
    margin-top: 10px;
    margin-left: 10px; }
  .site-footer {
    display: none; } }

@media screen and (max-width: 47.8em) {
  BODY.twentyseventeen-front-page .panel-content .wrap {
    padding-top: 3.75em; }
  BODY.twentyseventeen-front-page.admin-bar .panel-content .wrap {
    padding-top: 4em; }
  BODY.twentyseventeen-front-page H1,
  BODY.twentyseventeen-front-page DIV.motto {
    text-align: center;
    margin-bottom: 0; } }

@media screen and (min-width: 48em) {
  BODY.twentyseventeen-front-page H1 {
    color: #92323f;
    top: 15px;
    z-index: 20; }
  BODY.twentyseventeen-front-page DIV.motto {
    color: #92323f;
    top: 50px;
    z-index: 21;
    font-size: 1.25em; }
  BODY.twentyseventeen-front-page H1, BODY.twentyseventeen-front-page DIV.motto {
    position: fixed;
    left: -250px;
    margin-left: 50%;
    width: 500px;
    display: inline-block;
    text-align: center; }
  BODY.twentyseventeen-front-page.admin-bar H1 {
    top: 45px; }
  BODY.twentyseventeen-front-page.admin-bar DIV.motto {
    top: 80px; }
  BODY.twentyseventeen-front-page .panel-content .wrap {
    padding-top: 5.8em; }
  BODY.twentyseventeen-front-page.admin-bar .panel-content .wrap {
    padding-top: 4em; }
  BODY.twentyseventeen-front-page .site-navigation-fixed.navigation-top {
    height: 125px; }
    BODY.twentyseventeen-front-page .site-navigation-fixed.navigation-top .wrap .main-navigation {
      margin-top: 60px;
      width: 840px;
      margin-left: -50%;
      left: 300px;
      position: relative; }
  BODY.twentyseventeen-front-page .logo-in-nav {
    width: 200px; }
  BODY.twentyseventeen-front-page .main-navigation A {
    padding: 1em .8em; }
  BODY.twentyseventeen-front-page .navigation-top {
    background-color: rgba(157, 211, 249, 0.82);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14); }
  BODY.twentyseventeen-front-page ARTICLE#post-7 {
    background: url(paysage.jpg) no-repeat #c3d8a5;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center; }
  BODY.twentyseventeen-front-page .site-content-contain {
    background: url(vignes-panorama.jpg) no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center bottom; }
  BODY.twentyseventeen-front-page .site-footer {
    background: none;
    border: 0;
    margin-top: 200px; }
    BODY.twentyseventeen-front-page .site-footer .site-info {
      background-color: rgba(92, 113, 72, 0.81);
      padding: 0.7em; }
  BODY.twentyseventeen-front-page #panel4 {
    background-size: 100% 70%;
    background-repeat: repeat-x; } }

@media screen and (max-width: 64em) {
  BODY.twentyseventeen-front-page article {
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 64em) {
  BODY.twentyseventeen-front-page article[id^="post-"] {
    padding-left: 10px;
    padding-right: 0px; } }

BODY.twentyseventeen-front-page article[id^="post-"] H2.entry-title {
  display: none; }

.twentyseventeen-front-page article:not(.has-post-thumbnail):not(:first-child) {
  border-top: 0; }

@media screen and (min-width: 48em) and (max-width: 64em) {
  BODY:not(.twentyseventeen-front-page) .navigation-top .wrap {
    width: 1000px; } }

BODY:not(.twentyseventeen-front-page) .main-navigation A {
  padding: 1em; }

BODY:not(.twentyseventeen-front-page) .site-navigation-fixed.navigation-top {
  height: 100px; }
  BODY:not(.twentyseventeen-front-page) .site-navigation-fixed.navigation-top .wrap .main-navigation {
    margin-top: 40px;
    margin-left: 50px;
    width: 100%;
    display: block; }

@media screen and (min-width: 48em) {
  BODY:not(.twentyseventeen-front-page) .site-content .wrap,
  BODY:not(.twentyseventeen-front-page) .site-content #primary {
    max-width: 1140px !important;
    padding-left: 0px;
    padding-right: 0px; } }

@media screen and (max-width: 64em) {
  BODY:not(.twentyseventeen-front-page) .site-content .wrap,
  BODY:not(.twentyseventeen-front-page) .site-content #primary {
    padding-left: 10px;
    padding-right: 10px; } }

BODY:not(.twentyseventeen-front-page) .site-content-contain {
  background-color: #f3f1ef;
  min-height: 400px; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain .content-area {
    margin-top: 70px; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain H1.entry-title {
    color: #ef562d;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0.02em;
    text-transform: none; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain H1.page-title {
    color: #8d7963;
    margin-top: 40px; }
  BODY:not(.twentyseventeen-front-page) .site-content-contain H2.entry-title A {
    color: #ef562d;
    box-shadow: none; }
    BODY:not(.twentyseventeen-front-page) .site-content-contain H2.entry-title A:hover {
      box-shadow: inset 0 -1px 0 #8d7963; }

BODY:not(.twentyseventeen-front-page) .entry-content P A:not(.fbx-link),
BODY:not(.twentyseventeen-front-page) .entry-content DIV A:not(.fbx-link) {
  box-shadow: inset 0 -1px 0 #ef562d; }
  BODY:not(.twentyseventeen-front-page) .entry-content P A:not(.fbx-link):hover,
  BODY:not(.twentyseventeen-front-page) .entry-content DIV A:not(.fbx-link):hover {
    box-shadow: inset 0 -1px 0 #8d7963; }
  BODY:not(.twentyseventeen-front-page) .entry-content P A:not(.fbx-link).bouton,
  BODY:not(.twentyseventeen-front-page) .entry-content DIV A:not(.fbx-link).bouton {
    color: #f3f1ef;
    background-color: #fea126;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: .93em 1.3em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34) !important;
    left: 50%;
    display: inline-block;
    text-transform: uppercase; }
    BODY:not(.twentyseventeen-front-page) .entry-content P A:not(.fbx-link).bouton:hover,
    BODY:not(.twentyseventeen-front-page) .entry-content DIV A:not(.fbx-link).bouton:hover {
      color: #92323f; }

BODY:not(.twentyseventeen-front-page) .entry-content P A.fbx-link,
BODY:not(.twentyseventeen-front-page) .entry-content DIV A.fbx-link {
  box-shadow: none; }

BODY:not(.twentyseventeen-front-page) .entry-content H4 A {
  box-shadow: none; }
  BODY:not(.twentyseventeen-front-page) .entry-content H4 A:hover {
    box-shadow: inset 0 -1px 0 #8d7963; }

BODY:not(.twentyseventeen-front-page) .entry-content IMG {
  border: 4px solid white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  BODY:not(.twentyseventeen-front-page) .entry-content IMG.noborder {
    border: 0;
    box-shadow: none; }
    @media screen and (max-width: 47em) {
      BODY:not(.twentyseventeen-front-page) .entry-content IMG.noborder {
        float: left !important;
        margin-right: 10px; } }

BODY:not(.twentyseventeen-front-page) .entry-content BUTTON {
  background-color: #fea126;
  font-weight: normal;
  padding: .8em 1.6em; }

@media screen and (min-width: 48em) {
  .plan-site .menu-menu-superieur-container {
    float: left;
    width: 50%; }
  .plan-site .plan-articles {
    display: inline-block; } }

.plan-site LI {
  list-style-type: none;
  font-size: 18px; }

.plan-site .plan-menu LI {
  font-size: 1.375rem;
  font-weight: bold; }
  .plan-site .plan-menu LI A {
    color: #ef562d;
    padding-top: 10px;
    cursor: pointer; }
    .plan-site .plan-menu LI A .icon {
      display: none; }
  .plan-site .plan-menu LI A[href='javascript:;'] {
    cursor: default; }

.plan-site .plan-menu UL.sub-menu {
  margin-top: 0.65em;
  margin-bottom: 0.65em; }
  .plan-site .plan-menu UL.sub-menu LI {
    padding-top: 2px;
    font-size: 16px;
    font-weight: normal; }
    .plan-site .plan-menu UL.sub-menu LI A {
      color: black;
      box-shadow: inset 0 -1px 0 #ef562d;
      cursor: pointer; }
      .plan-site .plan-menu UL.sub-menu LI A:hover {
        box-shadow: inset 0 -1px 0 #8d7963; }

.plan-site .plan-articles H3 {
  color: #ef562d; }

.plan-site .plan-articles LI {
  font-size: 16px;
  padding-top: 2px; }
  .plan-site .plan-articles LI A {
    box-shadow: inset 0 -1px 0 #ef562d; }
    .plan-site .plan-articles LI A:hover {
      box-shadow: inset 0 -1px 0 #8d7963; }

.plan-site .tag-catg {
  color: #5486a1;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 10px; }

.search-form .search-submit {
  background-color: #ef562d; }

#gotoTop {
  width: 40px;
  height: 40px;
  display: none;
  background-color: #ef562d;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
  opacity: .86;
  cursor: pointer;
  font-size: 1.3em;
  line-height: 1.35em;
  padding-left: .31em;
  color: white; }
  #gotoTop .icon {
    transform: rotate(90deg);
    top: 5px;
    left: 3px; }

.wp-caption {
  font-size: 0.95rem;
  font-style: normal;
  text-align: center; }

.grid-accueil-box {
  display: table;
  width: 100%; }
  .grid-accueil-box .grid-accueil H3 {
    line-height: 1.1em; }
  .grid-accueil-box .grid-accueil > DIV {
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px dotted #7fbaf2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.46);
    min-height: 420px; }
  .grid-accueil-box .grid-accueil.bloc-dgac > DIV {
    background-color: #ddf1f5; }
    .grid-accueil-box .grid-accueil.bloc-dgac > DIV .dgac {
      color: white;
      padding: 20px;
      text-align: center;
      background-color: #0c4c8a; }
      .grid-accueil-box .grid-accueil.bloc-dgac > DIV .dgac IMG {
        margin-top: 0;
        margin-bottom: 5px; }
    .grid-accueil-box .grid-accueil.bloc-dgac > DIV .paiements {
      color: #5486a1;
      padding-top: 25px;
      text-align: center;
      border-top: 1px solid #92323f; }
      .grid-accueil-box .grid-accueil.bloc-dgac > DIV .paiements STRONG, .grid-accueil-box .grid-accueil.bloc-dgac > DIV .paiements B {
        text-transform: uppercase; }
      .grid-accueil-box .grid-accueil.bloc-dgac > DIV .paiements IMG {
        width: 86%; }
  .grid-accueil-box .grid-accueil.bloc-meteo > DIV {
    padding: 20px;
    background-color: #5486a1;
    color: white; }
  @media screen and (min-width: 48em) {
    .grid-accueil-box .grid-accueil > DIV {
      display: inline-block;
      float: left;
      width: 23%;
      max-width: 300px; }
    .grid-accueil-box .grid-accueil > DIV {
      height: 400px;
      overflow: hidden; }
    .grid-accueil-box .grid-accueil.bloc-formule > DIV, .grid-accueil-box .grid-accueil.bloc-service > DIV {
      width: 48%;
      max-width: 600px; } }
  .grid-accueil-box .grid-accueil.bloc-formule H3, .grid-accueil-box .grid-accueil.bloc-service H3 {
    margin-top: 8em !important;
    margin-bottom: .4em;
    color: white; }
    @media screen and (max-width: 47.8em) {
      .grid-accueil-box .grid-accueil.bloc-formule H3, .grid-accueil-box .grid-accueil.bloc-service H3 {
        margin-top: 5em !important;
        padding-left: 20px;
        padding-right: 20px; } }
  .grid-accueil-box .grid-accueil.bloc-qui-sommes-nous H3 {
    margin-bottom: 5.6em;
    margin-top: 2.8em !important; }
    @media screen and (max-width: 47.8em) {
      .grid-accueil-box .grid-accueil.bloc-qui-sommes-nous H3 {
        margin-top: 4em !important;
        margin-bottom: 2.6em;
        padding-left: 20px;
        padding-right: 20px; } }

.bloc-meteo .mto-fcst {
  position: relative;
  width: 48%;
  display: inline-block; }
  .bloc-meteo .mto-fcst .jour {
    clear: both;
    display: block;
    text-transform: uppercase;
    margin-left: 8px; }
  .bloc-meteo .mto-fcst .tmin,
  .bloc-meteo .mto-fcst .tmax {
    position: absolute;
    font-family: Capriola;
    top: 0px;
    left: 50px;
    font-size: 18px; }
  .bloc-meteo .mto-fcst .tmin {
    top: 22px;
    color: #7fbaf2;
    font-size: 14px; }
  .bloc-meteo .mto-fcst:first-child {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em; }
    .bloc-meteo .mto-fcst:first-child .tmin {
      display: none; }
    .bloc-meteo .mto-fcst:first-child .tmax {
      font-size: 50px; }
    .bloc-meteo .mto-fcst:first-child .tmin,
    .bloc-meteo .mto-fcst:first-child .tmax {
      top: 10px;
      left: 130px; }
    .bloc-meteo .mto-fcst:first-child .jour {
      text-align: center;
      margin-left: 0px; }

.bloc-meteo .lieu {
  margin-top: 2em;
  font-size: .95em; }

.Affiche > DIV,
.bloc-decouverte > DIV,
.bloc-formule > DIV,
.bloc-service > DIV,
.bloc-qui-sommes-nous > DIV {
  position: relative;
  text-align: center;
  background-position: 50% 50% !important;
  color: white;
  height: 420px; }
  @media screen and (min-width: 48em) {
    .Affiche > DIV,
    .bloc-decouverte > DIV,
    .bloc-formule > DIV,
    .bloc-service > DIV,
    .bloc-qui-sommes-nous > DIV {
      background-size: auto 100% !important;
      transition: all 0.5s linear;
      -webkit-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear; }
      .Affiche > DIV:hover,
      .bloc-decouverte > DIV:hover,
      .bloc-formule > DIV:hover,
      .bloc-service > DIV:hover,
      .bloc-qui-sommes-nous > DIV:hover {
        background-size: auto 105% !important;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear; } }
  .Affiche > DIV H3,
  .bloc-decouverte > DIV H3,
  .bloc-formule > DIV H3,
  .bloc-service > DIV H3,
  .bloc-qui-sommes-nous > DIV H3 {
    color: white;
    font-size: 1.7em;
    text-shadow: 0px 0px 8px #000000; }

.bloc-formule > DIV A,
.bloc-service > DIV A,
.bloc-qui-sommes-nous > DIV A {
  color: #f3f1ef;
  background-color: #fea126;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: .93em 1.3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34) !important;
  left: 50%;
  display: inline-block;
  text-transform: uppercase; }
  .bloc-formule > DIV A:hover,
  .bloc-service > DIV A:hover,
  .bloc-qui-sommes-nous > DIV A:hover {
    color: #92323f; }

.bloc-decouverte > DIV H3 {
  padding-top: 7.5em;
  margin-bottom: 0; }
  @media screen and (max-width: 47.8em) {
    .bloc-decouverte > DIV H3 {
      padding-left: 20px;
      padding-right: 20px; } }

.bloc-decouverte > DIV A {
  box-shadow: 0 4px 0 #fea126;
  -webkit-box-shadow: 0 4px 0 #fea126;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  font-weight: bold; }
  .bloc-decouverte > DIV A:hover {
    color: #92323f;
    box-shadow: 0 2px 0 #fea126; }

.Affiche > DIV {
  position: relative; }
  .Affiche > DIV .filtre {
    background-color: rgba(119, 75, 63, 0.7);
    position: absolute;
    bottom: 0;
    padding: 20px;
    border-top: 1px solid #92323f; }
    .Affiche > DIV .filtre DIV {
      position: absolute;
      left: 0;
      width: 100%;
      top: -0.8em; }
      .Affiche > DIV .filtre DIV SPAN {
        background-color: #88b24c;
        text-transform: uppercase;
        font-size: .9em;
        border-radius: .4em;
        padding: 3px 9px;
        color: white;
        font-weight: bold; }
    .Affiche > DIV .filtre H3 {
      padding-top: .4em; }
  .Affiche > DIV A {
    box-shadow: 0 4px 0 #fea126;
    -webkit-box-shadow: 0 4px 0 #fea126;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    font-weight: bold; }
    .Affiche > DIV A:hover {
      color: #92323f;
      box-shadow: 0 2px 0 #fea126; }

.grid-accueil.defaut,
.bloc-terrains {
  text-align: center; }
  .grid-accueil.defaut > DIV,
  .bloc-terrains > DIV {
    background-color: #f3f1ef; }
  .grid-accueil.defaut IMG,
  .bloc-terrains IMG {
    max-height: 200px;
    border-bottom: 1px solid #92323f; }
  .grid-accueil.defaut H3,
  .bloc-terrains H3 {
    color: #92323f; }
  .grid-accueil.defaut .gtext,
  .bloc-terrains .gtext {
    margin: 20px 40px 20px 40px; }
  .grid-accueil.defaut A,
  .bloc-terrains A {
    box-shadow: 0 4px 0 #fea126;
    -webkit-box-shadow: 0 4px 0 #fea126;
    padding-left: 4px;
    padding-right: 4px; }
    .grid-accueil.defaut A:hover,
    .bloc-terrains A:hover {
      color: #92323f;
      box-shadow: 0 2px 0 #fea126; }

.grid-accueil.defaut DIV.thumb {
  background-position: 50% 50% !important;
  height: 175px;
  border-bottom: 1px solid #92323f; }
  @media screen and (min-width: 48em) {
    .grid-accueil.defaut DIV.thumb {
      background-size: auto 100% !important; } }

.grid-accueil.defaut DIV.gtext {
  position: relative;
  padding-top: 8px; }
  .grid-accueil.defaut DIV.gtext H3 {
    padding: 0; }
  .grid-accueil.defaut DIV.gtext DIV {
    position: absolute;
    top: -35px;
    width: 100%; }
    .grid-accueil.defaut DIV.gtext DIV SPAN {
      background-color: #88b24c;
      text-transform: uppercase;
      font-size: .9em;
      border-radius: .4em;
      padding: 3px 9px;
      color: white;
      font-weight: bold; }

@media screen and (min-width: 48em) {
  .caracts {
    display: inline-block; } }

.caracts DIV {
  border-top: 1px dotted #fea126;
  float: left;
  width: 45%; }
  .caracts DIV:nth-child(odd) {
    margin-right: 8%; }
  .caracts DIV H3 {
    text-transform: uppercase;
    color: #fea126;
    font-size: 14px;
    font-weight: normal;
    padding-top: 8px; }
  .caracts DIV P {
    color: #ef562d;
    font-size: 24px;
    font-weight: normal; }

H2.img50pc {
  line-height: 2.3em; }
  @media screen and (min-width: 48em) {
    H2.img50pc {
      padding-top: 0; }
      H2.img50pc IMG {
        width: 50%;
        border: 4px solid white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); } }

#telsnum {
  display: none; }
  @media screen and (min-width: 48em) {
    #telsnum {
      position: fixed;
      top: 120px; }
      #telsnum.montre {
        display: inline-block; } }

.terrain {
  display: inline-block;
  margin-right: 20px;
  line-height: 1.8em;
  margin-bottom: 20px; }
  .terrain IMG {
    float: left;
    width: 26px;
    margin-right: 5px; }

DIV.timeline {
  padding-top: 40px;
  padding-bottom: 40px; }
  DIV.timeline > DIV {
    border-left: 2px solid #ff744b;
    position: relative;
    padding-left: 20px;
    padding-bottom: 30px; }
    @media screen and (min-width: 48em) {
      DIV.timeline > DIV {
        margin-left: 25%; } }
    DIV.timeline > DIV H3 {
      color: #92323f;
      font-size: 20px; }
      @media screen and (min-width: 48em) {
        DIV.timeline > DIV H3 {
          padding-right: 24px;
          position: absolute;
          left: -25%;
          width: 25%;
          text-align: right;
          margin-top: 20px; } }
    DIV.timeline > DIV P {
      padding: 20px;
      margin: 0;
      border: 1px dotted #fea126; }
      DIV.timeline > DIV P:before {
        content: '\2022';
        font-size: 4.2em;
        position: absolute;
        color: #92323f;
        left: -0.17em;
        top: -20px; }
      @media screen and (min-width: 48em) {
        DIV.timeline > DIV P {
          width: 50%; } }

.tarifs {
  display: block;
  text-align: center; }
  .tarifs TABLE {
    width: initial;
    display: inline-block; }
  .tarifs TR {
    border-bottom: 2px solid #fea126; }
  .tarifs TD {
    vertical-align: top;
    padding: 5px;
    text-align: left;
    font-weight: bold; }
    @media screen and (min-width: 48em) {
      .tarifs TD {
        padding: 10px 25px 10px 25px; } }
    .tarifs TD:last-child {
      color: #ef562d; }

span.tel {
  width: 4em;
  display: inline-block; }

.apropos {
  cursor: pointer; }
  @media screen and (min-width: 48em) {
    .apropos {
      text-align: center; }
      .apropos > DIV {
        display: inline-block; }
        .apropos > DIV IMG {
          border: 5px solid white; }
        .apropos > DIV H3 {
          padding-top: .6em;
          margin-right: 1.5em; } }

.partenaire {
  display: table;
  margin-bottom: 40px; }
  .partenaire:nth-child(odd) {
    margin-right: 40px;
    clear: left; }
  @media screen and (min-width: 48em) {
    .partenaire {
      float: left;
      width: 45%; } }
  .partenaire IMG {
    float: left;
    margin-right: 20px;
    border: 4px solid white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  .partenaire h4 {
    font-weight: normal;
    padding-top: 5px;
    margin-bottom: 0; }
    @media screen and (min-width: 48em) {
      .partenaire h4 {
        display: inline-block; } }
  .partenaire P {
    text-align: left;
    margin-bottom: .8em; }

.carte {
  position: relative;
  overflow: hidden; }
  .carte #map {
    height: 540px;
    width: 100%;
    overflow: hidden;
    border: thin solid #333; }
  .carte #capture {
    height: 540px;
    width: 300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -350px;
    background-color: #FFFFFF;
    border: thin solid #333;
    cursor: pointer;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out; }
    .carte #capture H3 {
      margin: 20px;
      padding: 0; }
    .carte #capture P {
      margin: 0 20px 10px 20px;
      padding: 0; }
    .carte #capture:before {
      content: '\2716';
      color: #ef562d;
      position: absolute;
      top: 20px;
      right: 20px; }

#vsel > H3 {
  color: #fea126;
  padding-top: 2em;
  padding-bottom: 2em; }

H4.vsel-meta-title {
  padding: 10px 0 0 0;
  clear: none; }

#vsel .vsel-meta {
  text-align: center; }
  @media screen and (min-width: 48em) {
    #vsel .vsel-meta {
      width: 25%; } }
  #vsel .vsel-meta .vsel-image-info {
    width: 70%; }
    #vsel .vsel-meta .vsel-image-info .vsel-image {
      margin-left: 3em; }

.vsel-meta-link,
.vsel-meta-location {
  text-align: left;
  margin-bottom: 15px !important; }
  @media screen and (min-width: 48em) {
    .vsel-meta-link,
    .vsel-meta-location {
      text-align: center;
      margin-bottom: 0; } }
  .vsel-meta-link .icon,
  .vsel-meta-location .icon {
    fill: #ef562d;
    margin-right: 4px; }
  .vsel-meta-link .icon-balloon,
  .vsel-meta-location .icon-balloon {
    height: 2em; }

.cal {
  border: 1px solid #88b24c;
  background-color: #88b24c;
  border-radius: 7px;
  margin-bottom: 20px; }
  .cal .mois {
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 56%;
    display: inline-block; }
  .cal .jours {
    color: #ef562d;
    background-color: white;
    border-radius: 0 7px 7px 0;
    text-align: center;
    font-size: 2em;
    padding-top: .4em;
    padding-bottom: .4em;
    width: 44%;
    display: inline-block; }
  @media screen and (min-width: 48em) {
    .cal {
      width: 149px;
      display: inline-block; }
      .cal .mois, .cal .jours {
        display: block;
        width: 100%; }
      .cal .mois {
        padding-top: 1em;
        padding-bottom: 1em; }
      .cal .jours {
        border-radius: 0 0 7px 7px; } }

/*# sourceMappingURL=cd53-cm.css.map */